<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<ul>
			<%@post.errors.full_messages.each do |msg| %>
				<li><%=msg%></li>
			<% end %>
		</ul>	
	<% end %>

	<%= f.label :title %> <br>
	<%= f.text_field :title %> <br>

	<%= f.label :description %> <br>
	<%= f.text_area :description, cols: "60", rows: "10" %> <br>

	<%= f.submit%>

<% end %>