<h1><%=@post.title%></h1>
<p><%=@post.description%></p>

<br>

	<div id="comments">
		<h4><%= pluralize(@post.comments.count, 'Comment') %> </h4>
		<%= render @post.comments %>

		<h4>Add a comment:</h4>
		<%= render "comments/form" %>

	</div>


<% if user_signed_in? %>
	<%= link_to "Edit Post", edit_post_path(@post) %>
	<%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
